# Imputation of the data 

---

## Important Librarys

In [1]:
import pandas as pd 
import numpy as np 
import scipy as sp 
import matplotlib.pyplot as plt

## Search off Missing Values

In [2]:
base = pd.read_excel('lawsch85.xlsx')
variables = base[['salary' , 'cost' , 'LSAT' , 'GPA' ,'age' , 'llibvol' , 'lcost' , 'rank']]
variables.isna().sum()

salary      8
cost        6
LSAT        6
GPA         7
age        45
llibvol     1
lcost       6
rank        0
dtype: int64

## KNN for impute missing values

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

numericas = ['rank']
imputar = [i for i in variables.columns if i != 'rank']

pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('imputer', KNNImputer(n_neighbors=5, weights='uniform'))]) 

X_scaled_imputed = pipeline.fit_transform(variables)

# Restore the original scale
scaler = pipeline.named_steps['scaler']
X_imputed = scaler.inverse_transform(X_scaled_imputed)

base_imputada = pd.DataFrame(X_imputed , columns=variables.columns , index=variables.index)

variables = variables.copy()
variables[imputar] = base_imputada[imputar]

In [4]:
variables.isna().sum()

salary     0
cost       0
LSAT       0
GPA        0
age        0
llibvol    0
lcost      0
rank       0
dtype: int64

In [5]:
variables.describe()

,salary,cost,LSAT,GPA,age,llibvol,lcost,rank
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,38771.723077,12685.958974,158.256410,3.299500,84.206410,5.753479,9.387447,83.750000
std,12025.830421,3953.913134,4.707923,0.201424,35.948848,0.415623,0.364110,50.064169
min,24900.000000,2623.000000,140.000000,2.730000,3.000000,4.820282,7.872074,1.000000
25%,29950.000000,9905.850000,155.000000,3.195000,65.000000,5.461704,9.163783,40.750000
50%,34700.000000,12740.000000,158.000000,3.295000,82.100000,5.713727,9.452491,83.500000
75%,41350.000000,15979.000000,161.000000,3.402500,102.600000,5.991465,9.679029,125.500000
max,78325.000000,20518.000000,171.000000,3.820000,206.000000,7.464510,9.929058,175.000000

In [ ]:
variables.to_csv('df_clean.csv')

## X y split

In [72]:
indepent = variables[[ 'cost' , 'LSAT' , 'GPA' ,'age' , 'llibvol' , 'lcost' , 'rank']]
dependet = variables['salary']
indepent

        cost   LSAT   GPA    age   llibvol     lcost  rank
0     8340.0  155.0  3.15   12.0  5.375278  9.028818   128
1     6980.0  160.0  3.50  113.0  5.545177  8.850804   104
2    16370.0  155.0  3.25  134.0  6.049734  9.703206    34
3    17566.0  157.0  3.20   89.0  5.796058  9.773721    49
4     8350.0  162.0  3.38   70.0  5.805135  9.030017    95
..       ...    ...   ...    ...       ...       ...   ...
151  13530.0  162.0  3.34  206.0  5.703783  9.512665    17
152  11334.0  161.0  3.40  117.8  5.985650  9.335563    21
153   7396.0  157.0  3.40   65.0  5.159055  8.908694   143
154  19780.0  171.0  3.82  140.0  6.745236  9.892426     3
155  12870.0  154.6  3.15   72.6  5.298317  9.462654   120

[156 rows x 7 columns]

In [73]:
X = indepent.to_numpy()
y = dependet.to_numpy()

print(X.shape , y.shape)

(156, 7) (156,)